Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
my_str = "Ajay Shrivas"

In [2]:
my_str

'Ajay Shrivas'

#list

In [4]:
my_list = [1,2,3,4,5,"ajay", "4+8j", True]

In [5]:
my_list

[1, 2, 3, 4, 5, 'ajay', '4+8j', True]

#float

In [6]:
my_float = 2.23

In [7]:
my_float

2.23

#tuple

In [8]:
my_tuple = (1,2,3,4,5,6,"Classes", "Students")

In [9]:
my_tuple

(1, 2, 3, 4, 5, 6, 'Classes', 'Students')

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

In [10]:
var1 = ''

In [11]:
type(var1)

str

In [12]:
var2 = '[DS, ML, Python]'

In [13]:
type(var2)

str

In [14]:
var3 = ['DS', 'ML', 'Python']

In [15]:
type(var3)

list

In [16]:
var4 = 1

In [17]:
type(var4)

int

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [20]:
#operation / is use for division.when we have to divide two no.s then we are using this operator.  example is 

var1 = 10
var2 = 5 
var3 = var1/var2

In [21]:
var3

2.0

In [27]:
# % operator is use for modulus/reminder for example 

var1 = 11 
var2 = 5 
reminder = var1 % var2

print(reminder)

In [30]:
#// this operator is use for float.

In [33]:
var1 = 11 
var2 = 5
my_float = var1 // var2

In [34]:
my_float

2

In [35]:
# ** this is use for power, for example 
var1 = 2**3 # it will give you answer as 8 (2*2*2)

In [36]:
var1

8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [37]:
my_list = [1,2,3,"ajay", "cloud", 20.31, True, 2+9j]

In [39]:
for i in my_list:
    print(i)

1
2
3
ajay
cloud
20.31
True
(2+9j)

In [40]:
for i in my_list:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'complex'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [ ]:
var1 = 20
var2 = 2
while var1 % var2 == 0:
    print

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [13]:
num = list(range(1,26)) # creating a list containing no.s from 1 to 25 

for i in num: # to iterate each no in the list
    if i % 3 == 0:
       print (f"{i} is divisible by 3")
    else: 
        print(f"{i} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [7]:
#mutable when we can change value of an object after created and immutable, when value can't change after object has created. for example 

var1 = 10 
var1 = 20
print(var1) # Here when we have to change a int variable value then we have to create a new variable. it is not changing value in the existing variable

my_list = [1,2,3,4,6] # if I want to change 6 as Six then i can do this changes on the existing list through the indexing.
my_list[4]= "Six"
print(my_list)

20
[1, 2, 3, 4, 'Six']