<a href="https://colab.research.google.com/github/MilanShri/ajay-shirvas/blob/main/Data_Structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ques 1) Discuss string slicing and provide examples

In [ ]:


# String Slicing is about how to access characters of a string.
# We can access characters or elements with help of indexing.

title = "The Broad Minded Games and algorithms." #if want to access "Broad minded from this title variable then with the help of indexing we can do that."
name = title[3:16]
print(name)

name = "Ajay Shrinivas"
name[-6:-1] # this is called negative indexing.

 Broad Minded

'iniva'

Ques 2) Explain the key features of lists in Python

In [ ]:
# List is represent by []
# list is ordered, indexing, and changable/ mutable, which means that we can change elements inside the list.
# list is hetrogenous, means can store any data type eg- int, str, bool, complex no., list itself.

list1 = [1,2,3,4,5,6,"Ajay", "Bob", ["khan sir", "sandeep", "Ram", "Shiv"]]
list1

[1, 2, 3, 4, 5, 6, 'Ajay', 'Bob', ['khan sir', 'sandeep', 'Ram', 'Shiv']]

 Ques 3) Describe how to access, modify, and delete elements in a list with examples

In [ ]:
# Access  - with the help of indexing we can access element in the list
list1

[1, 2, 3, 4, 5, 6, 'Ajay', 'Bob', ['khan sir', 'sandeep', 'Ram', 'Shiv']]

In [ ]:
list1[0:5]

[1, 2, 3, 4, 5]

In [ ]:
list1[8][2]

'Ram'

In [ ]:
# add items through the append method

list1.append("PWskills student")
list1

[1,
 2,
 3,
 4,
 5,
 6,
 'Ajay',
 'Bob',
 ['khan sir', 'sandeep', 'Ram', 'Shiv'],
 'PWskills student']

In [ ]:
# del elements from the list. It is showing a error, i dont know why ?
print(list1)
list1.remove(2)
list1

[1, 3, 4, 5, 6, 'Bob', ['khan sir', 'sandeep', 'Ram', 'Shiv'], 'PWskills student']

ValueError: list.remove(x): x not in list

In [ ]:
# clear items in the list.
print(list1)
list1.clear()
list1

[]

[]

In [ ]:
# del list # it is showing becoz we already clear the list.
print(list1)
del list1

[]

Ques 4) Compare and contrast tuples and lists with examples

""" list
      # list is represent by []
      # mutable/ changable
      #can add / remove elements in the list
      # Hetrogenous in nature
      # indexing/ordered
      # duplicate is allowed

    Tuples
      # tuple is represent by ()
      # immutable. unchangable
      # can't add / remove elements in a tuple
      # indexing/ordered
      #can add list in a tuple or add tuple inside tuple called nested tuple

In [ ]:
a = (40,50,60,70,80,90)
a

(40, 50, 60, 70, 80, 90)

In [ ]:
print(a[0])

40

 Ques 5) Describe the key features of sets and provide examples of their use



 #set represent by {}
 #set is unordered/ unchangable/ but can add or remove
 #set dont allow duplicate. give only unique values.

In [ ]:
set1 = {"Animal", "Can" , "Ram", "Rani", "sita", "shiva"}
set1

{'Animal', 'Can', 'Ram', 'Rani', 'shiva', 'sita'}

In [ ]:
set1.add(1000)
set1

{1000, 'Animal', 'Can', 'Ram', 'Rani', 'shiva', 'sita'}

In [ ]:
set2 = {20, 30,40,50}
set2

{20, 30, 40, 50}

In [ ]:
set1.union(set2) # add two sets

{1000, 20, 30, 40, 50, 'Animal', 'Can', 'Ram', 'Rani', 'shiva', 'sita'}

Ques 6) Discuss the use cases of tuples and sets in Python programming ?

Tuple is a immutable data structure. once define can change elements inside tuple. tuple use when we have to secure our original data so no one can edit it. Duplicate is allow, can access element through the indexing. tuple is hetrogeneous in nature. can store list also inside tupel.

set - set is mutable, can be changed after creation. it is unordered means the elements position will not defined. but we can add and remove items/elements from the set.

In [2]:
tuple1 = (1,2,3,4,5,6,9,8,7,"ajay", "ram", 5+9j, ["name1", "name2", "name3"] )
tuple1

(1, 2, 3, 4, 5, 6, 9, 8, 7, 'ajay', 'ram', (5+9j), ['name1', 'name2', 'name3'])

In [4]:
set = {"nam1", "name2", "name3", "name4" , "name"}

for a in set:
  print(a)

name4
name
nam1
name2
name3

 Ques 7)  Describe how to add, modify, and delete items in a dictionary with examples.

In [37]:
# Create a dictonary
dict1 = {
    "name" : "Ajay",
    "age"  : "23",
    "position" : "system engineer",
    "company" : "infosys",
    "mode" : "hybrid",
}
dict1

{'name': 'Ajay',
 'age': '23',
 'position': 'system engineer',
 'company': 'infosys',
 'mode': 'hybrid'}

In [38]:
# if we want to add item in dict then use update() method.

dict1.update({"projects": "Travelers and Liberty bank"})
dict1

{'name': 'Ajay',
 'age': '23',
 'position': 'system engineer',
 'company': 'infosys',
 'mode': 'hybrid',
 'projects': 'Travelers and Liberty bank'}

In [39]:
dict1

{'name': 'Ajay',
 'age': '23',
 'position': 'system engineer',
 'company': 'infosys',
 'mode': 'hybrid',
 'projects': 'Travelers and Liberty bank'}

In [40]:
dict1.pop("mode") # it will remvoe mode key from the dict1.

'hybrid'

In [41]:
dict1

{'name': 'Ajay',
 'age': '23',
 'position': 'system engineer',
 'company': 'infosys',
 'projects': 'Travelers and Liberty bank'}

Ques 8)Discuss the importance of dictionary keys being immutable and provide examples


ans)  In dict, the data is stored in key : value pair. we can access any value through the key name. as example- employee data should have any unique key so we can retrive that employee data. key is unique. In Python, immutable types include:

Numbers (integers, floats, etc.)
Strings
Tuples (but not lists inside tuples, as they are mutable)
Frozen sets