<a href="https://colab.research.google.com/github/MilanShri/ajay-shirvas/blob/main/Data_Structure_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Quees 1)  Write a code to reverse a string

In [ ]:
# one way
str = "Mohanlal singh"
str1 = str[::-1]
print(str1)

hgnis lalnahoM

In [ ]:
# another way
def reverse_str(name):
  return name[::-1]

In [ ]:
reverse_str("shrivas singh ajay")

'yaja hgnis savirhs'

Ques 2) Write a code to count the number of vowels in a string

In [ ]:
str = "ajay shrivas"
vowels = "aeiouAEIOU"
str1 = ""
vowels_count = 0
for i in str:
  if i in vowels:
    str1 = str1+i
    vowels_count += 1

print("Vowels in the string is", vowels_count, str1 )

Vowels in the string is 4 aaia

Ques 3) Write a code to check if a given string is a palindrome or not

In [ ]:
def check_palindrome(srt):
  if srt == srt[::-1]:
    print("yes this is a palindrome")
  else:
    print("No, your input is not palindrome")

In [ ]:
check_palindrome("rotator")

yes this is a palindrome

In [ ]:
check_palindrome("ajay")

No, your input is not palindrome

Ques 4) Write a code to check if two given strings are anagrams of each other

In [ ]:
def arg_anagram(str1, str2):
  str1 = str1.replace(" ", "").lower()
  str2 = str2.replace(" ", "").lower()

  if len(str1) != len(str2):
    return False
  return sorted(str1) == sorted(str2)

input1 = input("enter your first str ")
input2 = input("enter your second str ")

if arg_anagram(input1, input2):
  print("anagram")
else:
  print("not anagram")

enter your first str ajay
enter your second str jaya
anagram

Ques 5) Write a code to find all occurrences of a given substring within another string

Ques 6)Write a code to perform basic string compression using the counts of repeated characters

Ques 7)Write a code to determine if a string has all unique characters

In [ ]:
set1 = {1,22,2,2,3,3,3,4,4,5,2,4,5,6,9}

In [ ]:
print(set1)

{1, 2, 3, 4, 5, 6, 9, 22}

In [ ]:
type(set())

set

In [ ]:
def unique_Set(s):

  seen = set()
  for i in s:
    if i in seen:
      return False

1

Ques 8) Write a code to convert a given string to uppercase or lowercase

In [ ]:
#def convert_upper_lower_case(str):
 # return str.upper()

In [ ]:
def convert_upper_lower_case(Str):
  return Str.swapcase()

converted_Str = input("Enter you str ")

new_str = convert_upper_lower_case(converted_Str)
print("converted your give str", new_str)

Enter you str ajay
converted your give str AJAY

In [ ]:
def convert_upper_lower_case(Str):
  return Str.swapcase()

converted_Str = input("Enter you str ")

new_str = convert_upper_lower_case(converted_Str)
print("converted your give str", new_str)

Enter you str AJAY SHRIVAS
converted your give str ajay shrivas

Ques 9) Write a code to count the number of words in a string

In [ ]:
#a = "ajay"
#print(len(a))  One way of doing this

def word_count(word):
  return len(word)

In [ ]:
word_count("ajayshrivas")

11

In [ ]:
# Another way is :

def word_count(word):
  new_word = input("Enter your word and enter to find the length of your word ")
  print(f"Your Word length is ", len(new_word))

In [ ]:
word_count("ajay")

Enter your word and enter to find the length of your word ajay shrivas
Your Word length is  12

Ques 10)  Write a code to concatenate two strings without using the + operator

In [ ]:
str1 = "ajay"
str2 = "shrivas"

print(f"{str1} {str2}")

ajay shrivas

In [ ]:
a = ["a","python","is","popular"]   # one method by using join keyword
res = " ".join(a)
print(res)

a python is popular

In [ ]:
def join_str(str1, str2):
  return ' '.join([str1, str2])


string1 = input("enter your first string ")
string2 = input("enter your second string ")

concatenate_string = join_str(string1, string2)
print(concatenate_string)

enter your first string ajay
enter your second string gupta
ajay gupta

In [ ]:
# dunder method to add two string

a = "swami"
b = "mukudanand"

a.__add__( b)

'swamimukudanand'

Ques 11)Write a code to remove all occurrences of a specific element from a list

In [2]:
def remove_element(lst, element):
    return [item for item in lst if item != element]

my_list = [1, 2, 3, 4, 2, 5, 2]
element_to_remove = 2
updated_list = remove_element(my_list, element_to_remove)
print(updated_list)

[1, 3, 4, 5]

Ques 12)Implement a code to find the second largest number in a given list of integers

In [3]:
def second_largest(lst):
    # Sort the list and return the second last element
    lst = list(set(lst))  # Remove duplicates
    lst.sort()
    return lst[-2] if len(lst) > 1 else None

my_list = [12, 34, 56, 34, 23, 56, 78, 12]
result = second_largest(my_list)

print("Second largest number:", result)

Second largest number: 56

Ques 13) Write a code to reverse a list in-place without using any built-in reverse functions

Ques 16) Create a code to check if a given list is sorted (either in ascending or descending order) or not

In [4]:
def is_sorted(lst):
    # Check if the list is sorted in ascending order
    if lst == sorted(lst):
        return "Ascending"
    # Check if the list is sorted in descending order
    elif lst == sorted(lst, reverse=True):
        return "Descending"
    # If neither, the list is not sorted
    else:
        return "Not sorted"

my_list = [1, 2, 3, 4, 5]
result = is_sorted(my_list)

print("The list is:", result)

The list is: Ascending

Ques 19) Create a code to find the union of two lists without duplicates

In [6]:
def union_of_lists(list1, list2):
  return list(set(list1 + list2))

list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]
result = union_of_lists(list1, list2)

print("Union of the lists:", result)

Union of the lists: [1, 2, 3, 4, 5, 6]